*{



margin: 0;
padding: 0;
}

.menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 750px;
    background: url('fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: whitesmoke;
    text-align: center;
}

.encabezado{
background-color: #04080f;
color: whitesmoke;
text-align: center;

}

.barra{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background: inherit;
    text-decoration-line: none;
}

.menu p{
    text-align: justify;
}

    .porcentajes{
        text-align: end center;
    }


    #contacto{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    form{
        width: 350px;
        margin: auto;
        background: rgba(3,3 0,3, 0.4);
        padding: 10px 20px;
        box-sizing: border-box;
        margin-top: 50px;
        border-radius: 7px;
    }

    textarea{
        width: 100%;
        margin-bottom: 20px;
        padding: 7px;
        box-sizing: border-box;
        min-height: 100px;
    }

    input{
        width: 100%;
        margin-bottom: 20px;
        padding: 7px;
        box-sizing: border-box;
        font-size: 17px;
    }

    #boton{
        background: #04080f;
        color: aquamarine;
        padding: 20px;
    }

    .formulario{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }

